## File Managed by Ansible ##

{% if loopback is defined %}
auto lo
iface lo inet loopback
    address {{ loopback }}
{% endif %}

{% if interfaces is defined %}
{% for port, value in interfaces.items() %}
auto {{ port }}
iface {{ port }}
{% if 'alias' in value %}
    alias {{ value.alias }}
{% endif %}
{% if value and 'link_speed' in value %}
    link-speed {{ value['link_speed'] }}
{% endif %}
{% if value and 'link_duplex' in value %}
    link-duplex {{ value['link_duplex']|ternary('full', 'half') }}
{% endif %}
{% if value and 'mtu' in value %}
    mtu {{ value.mtu }}
{% endif %}
{% if value and 'bridge_access' in value  %}
    bridge-access {{ value.bridge_access }}
{% endif %}
{% if value and 'bridge_vids' in value  %}
    bridge-vids {{ value['bridge_vids'] }}
{% endif %}
{% if value and 'bridge_pvid' in value  %}
    bridge-pvid {{ value.bridge_pvid }}
{% endif %}
{% if value and 'address' in value %}
    address {{ value.address }}
{% endif %}
{% if value and 'vrf' in value %}
    vrf {{ value.vrf }}
{% endif %}

{% endfor %}
{% endif %}
